<center><font face="Georgia, Times New Roman, Times, serif" size="5"><b>
	{blog_title}</b></font></center>
<center><font face="Georgia, Times New Roman, Times, serif" size="2"><b>
	{blog_formatted_post_timestamp}</b></font></center><BR />
<div class="blogPost">
	{blog_contents}
	<br />
	<div class="byline">
		Posted by <b>{blog_formatted_username}</b> @ {blog_formatted_post_timestamp_time}
		[<a href="/blog/{blog_permalink}">permalink</a>]
		<!-- BEGIN editLink -->
		 [<a href="/member/blog/edit/{blog_name}?action=editExisting&editPostId={blog_entry_id}">Edit Entry</a>]
		<!-- END editLink -->
	</div>
</div> 
