
<table align="center">
	<tr>
		<td><h2>Available Blogs (most recent entries):</h2></td>
	</tr>
	<!-- BEGIN blogUserLink -->
	<tr>
		<td>
			<a href="/blog/{blogname}.html">{formattedBlogname}'s Blog</a><BR>
			<ul>
			<!-- BEGIN blogUserLink_single -->
				<li>%%date_short%% - <a href="/blog/%%permalink%%">%%title%%</a>
			<!-- END blogUserLink_single -->
			</ul>
		</td>
	</tr>
	<!-- END blogUserLink -->
</table>
